[submodule "ucdlib-theme-wp"]
	path = ucdlib-theme-wp
	url = git@github.com:UCDavisLibrary/ucdlib-theme-wp.git
	branch = main
[submodule "ucdlib-wp-plugins"]
	path = ucdlib-wp-plugins
	url = https://github.com/UCDavisLibrary/ucdlib-wp-plugins
	branch = main
